@{
    ViewBag.Title = "NotFound";
}
<div class="text-center">
    <form class="d-flex" asp-controller="Home" asp-action="Search" asp-route-recordsOnPage="25">
        <input class="form-control me-sm-2" placeholder="Szukaj" type="text" name="query" />
        <input class="btn btn-primary btn-lg" type="submit" value="Szukaj" />
    </form>
    <h1>Brak pasujących publikacji</h1>
</div>
